<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include 'tools/header.html' %}
    <link href="{{ STATIC_URL }}css/dashboard.css" rel="stylesheet">
</head>
<body background="{{ STATIC_URL }}img/background2.jpg">
{% include 'tools/nav.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <img style="margin-left: -40px;max-width: 500px" src="{{ STATIC_URL }}img/logo.png">
            <br/><br/><br/><br/>
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'index' %}">&nbsp;&nbsp;&nbsp;&nbsp;使用说明</a></li>
                <li class="active"><a href="{% url 'info' 1 %}">&nbsp;&nbsp;&nbsp;&nbsp;部署说明</a></li>
                <li><a href="{% url 'info' 2 %}">&nbsp;&nbsp;&nbsp;&nbsp;问题反馈</a></li>
                <li><a href="{% url 'info' 3 %}">&nbsp;&nbsp;&nbsp;&nbsp;开发人员</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li><a href="{% url 'port' %}">&nbsp;&nbsp;&nbsp;&nbsp;本机端口检测</a></li>
                <li><a href="{% url 'hardware' %}">&nbsp;&nbsp;&nbsp;&nbsp;本机硬件检测</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-md-offset-2 main" style="float: right">
            <div class="row">
                <div class="col-sm-7" style="margin: 0 auto">
                    <div>
                        <h1>Environment</h1>
                        <h4>Python ==> 2.7.14&nbsp;&nbsp;&nbsp;&nbsp;<a
                                href="https://www.python.org/downloads/release/python-2714/">下载地址</a></h4>
                        <h4>Nmap&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://nmap.org/download.html">下载地址</a></h4>
                        <br/>
                    </div>
                    <div>
                        <h1>Installation</h1>
                        <ol>
                            <li><h4>首先安装Web所需</h4></li>
                            <pre><code>~ root$ pip install Django==1.8.18</code></pre>
                            <li><h4>然后安装机器学习所需依赖库</h4></li>
                            <pre><code>~ root$ pip install SciPy==1.0.0 matplotlib==2.2.0 NumPy==1.14.0 Scikit-learn==0.19.1 Sympy Pandas</code></pre>
                            <li><h4>安装python脚本所需依赖库</h4></li>
                            <pre><code>~ root$ pip install python-nmap==0.6.1 requests==2.1.0</code></pre>
                            <li><h4>MySQL-Connector-Python ==> 2.1.7&nbsp;&nbsp;&nbsp;&nbsp;<a
                                    href="https://dev.mysql.com/downloads/connector/python/">下载地址</a></h4></li>
                        </ol>
                        <br/>
                    </div>
                    <div>
                        <h1>Quick start</h1>
                        <ol>
                        <pre><code>mysite root$ python manage.py runserver</code></pre>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'tools/footer.html' %}
</body>
</html>