<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{{ STATIC_URL }}img/favicon.ico">
    <title>Log in</title>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">
</head>
<body background="{{ STATIC_URL }}img/background.jpg">
<div class="container" id="wrapper">
    <div id="cell">
        <form class="form-signin" method="POST">
            {% csrf_token %}
            <h1 class="form-signin-heading">Please Log in</h1>

            <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>

            <label for="pasword" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            <br/>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
        </form>
    </div>
</div>
{% include 'tools/footer.html' %}
</body>
</html>